@page "/knowledgebase/kmsdetail"
@page "/knowledgebase/kmsdetail/{id}"
<CascadingValue Value="this">
    <div>
        <MRow Class="no-gutters">
            <div style="height:calc(100vh - 112px );">
                <KmsNav Title="测试知识库"/>
            </div>
            <div class="pl-6 rounded-2" style="height:calc(100vh - 112px ); width: calc(100% - 300px); overflow: hidden; display:block;">
                <div>
                    <MToolbar Dense Elevation="0" Class="rounded-2" Height="60">
                         <MTextField TValue="string"
                                     Class="task-search mx-4"
                                     HideDetails=true
                                     Placeholder="查询" @bind-Value=InputText>
                             <PrependContent>
                                 <MIcon Small Class="mt-1">fa fa-search</MIcon>
                             </PrependContent>

                         </MTextField>
                     </MToolbar>   
                </div>
            </div>
        </MRow>
    </div>
</CascadingValue>