<MNavigationDrawer Permanent Class="rounded-4" Width="200" Style="overflow: visible;">
     <h6 style="text-align: center;margin-top:20px;">@Title</h6>
    <MList Routable Dense Class="remover-ripple">
         <KmsNavItem Href="/" Icon="mdi-list-box-outline" Title="数据集"></KmsNavItem>
         <KmsNavItem Href="/" Icon="mdi-database-search" Title="搜索测试"></KmsNavItem>
         <KmsNavItem Href="/" Icon="mdi-cogs" Title="配置"></KmsNavItem>

         <div style="position: absolute; bottom: 20px;">
             <KmsNavItem Href="/knowledgebase/kms" Icon="mdi-arrow-left" Title="返回"></KmsNavItem>
         </div>     
    </MList>
</MNavigationDrawer>


 @code {
    bool? visible;

    [Parameter]
    public string? Title { get; set; }
}
